<div class="user-edit" fxLayout="column">
    <div fxLayout="row">
      <div fxFlex></div>
      <mat-card fxFlex class="user-edit-container">
        <mat-card-header>
          <mat-card-title>
            <h1>Update User</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="user$ | async as user else loading">
            <form #userUpdateForm="ngForm" fxLayout="column" (ngSubmit)="updateUser(user, userUpdateForm)">
              <app-user-form-fields [user]="user"></app-user-form-fields>
              <div fxLayout="row">
                <div fxFlex></div>
                <a [routerLink]="['/users']" mat-raised-button class="user-cancel-button">Cancel</a>
                <button type="submit" mat-raised-button color="primary" class="user-edit-button">Save</button>
              </div>
            </form>
          </div>
          <ng-template #loading>
            <div class="loading-spinner-container">
              <mat-spinner class="loading-spinner"></mat-spinner>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
      <div fxFlex></div>
    </div>
  </div>
