<div id="home">
  <div class="container">
    <div class="row">
      <!-- TODO: Hide div when userLoggedIn is not null -->
      <div class="col-sm-12">
        <h3>Bootcamp Login</h3>

        <form class="form-horizontal col-xs-12 col-sm-4">
          <div class="control-group">
            <label class="control-label" for="inputUsername">Username</label>
            <div class="controls">
              <input type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <br/>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
