body, html {
  background: #f6f6f6;
}

/* Navigation */
#nav.affix {
  top: 0;
  width: 100%;
}
.navbar-inverse {
  background-color: #121d1f;
  padding: 10px 0;
}
.navbar-inverse .navbar-brand {
  font-weight: 600;
  color: #fff;
}
.navbar-inverse .nav li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:focus,
.navbar-inverse .navbar-nav li a:active {
  color: #7bc3d1;
}

/* Header */
.main-head {
  background-color: #7bc3d1;
  color: #fff;
}
.main-head .name {
  font-weight: 700;
}
.main-head .intro {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

/* Buttons */
.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  border-radius: 0;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
  color: #fff;
  background-color: #121d1f;
  border-color: #121d1f;
}
a:focus, .btn:focus, .btn:active:focus {
  outline: none;
}

/* Section Titles */
.section-title {
  padding: 25px 0 25px 0;
}
.section-title h2 {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 34px;
}
.section-title hr {
  height: 4px;
  width: 70px;
  background: #7bc3d1;
  border: 0;
}

/* About Section */
#about {
  padding: 70px 0 70px 0;
}
#about p {
  margin-top: 20px;
  margin-bottom: 30px;
}
#about img {
  width: 200px;
}

/* Skills Section */
#skills {
  padding: 70px 0 70px 0;
  background: #7bc3d1;
}
#skills hr {
  background: rgba(255,255,255,0.3);
}
#skills h2, #skills h4 {
  color: #fff;
}

/* Portfolio Section */
#portfolio {
  padding: 70px 0 120px 0;
}
#portfolio h4 {
  color: #121d1f;
}
#portfolio a:hover {
  text-decoration: none;
}

/* Contact Section */
#contact {
  padding: 70px 0 70px 0;
  background: #7bc3d1;
}
#contact hr {
  background: rgba(255,255,255,0.3);
}
#contact h2, #contact h3, #contact h4 {
  color: #fff;
}
#contact form {
  padding: 30px 0;
}

/* Footer Section */
#main-foot {
  background: #121d1f;
  color: #7d8384;
  padding: 30px 0 25px 0;
}
#main-foot p {
  font-size: 13px;
}

/* Media Queries */
@media(min-width:768px) {
  /* Header Section */
  .main-head .intro {
    margin-top: 300px;
    margin-bottom: 200px;
    text-align: left;
  }
  .main-head h1 {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -2px;
  }
  .main-head .name {
    font-weight: 500;
  }
  .main-head p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  /* About Section */
  #about {
    padding: 70px 0 120px 0;
  }

  /* Skills Section */
  #skills {
    padding: 160px 0 220px 0;
  }
  /* Portfolio Section */
  #portfolio {
    padding: 80px 0 120px 0;
  }
  #portfolio h4 {
	  font-size: 20px;
	}
}
