<div id="user">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Users</h3>
        <form class="form-inline">
          <div class="form-group input-group search-group col-sm-6">
            <select class="form-control" title="Search by..." ng-model="ctrl.searchBy" ng-change="ctrl.search()">
              <option value="id">ID</option>
              <option value="username">Username</option>
              <option value="firstName">First Name</option>
              <option value="lastName">Last Name</option>
              <option value="email">Email</option>
            </select>
            <input type="text" class="form-control" placeholder="Search for..." ng-model="ctrl.searchFor" ng-change="ctrl.search()">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.sortAsc" ng-change="ctrl.search()"> Sort Asc
            </label>
          </div>
          <button type="button" class="btn btn-primary pull-right" ui-sref="UserCreate"><i class="fa fa-plus"></i> User</button>
        </form>
        <br/>
        <table class="table table-striped table-hover">
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Active</th>
          </tr>

          <tr ng-repeat="user in ctrl.users" ui-sref="UserView({ id: user.id })" class="user-row">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.dob | date:'MM/dd/yyyy'}}</td>
            <td>{{user.active}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
