<div id="user">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Users</h3>
        <form class="form-inline">
          <div class="form-group input-group search-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search for..." ng-model="ctrl.searchFor" ng-change="ctrl.search()" style="width: 200px;">
          </div>
          <button type="button" class="btn btn-primary pull-right" ui-sref="UserCreate"><i class="fa fa-plus"></i> User</button>
        </form>
        <br/>
        <table class="table table-striped table-hover">
          <tr>
            <th sortable-header property="id" search-by="ctrl.searchBy" sort-asc="ctrl.sortAsc" search="ctrl.search()">ID</th>
            <th sortable-header property="username" search-by="ctrl.searchBy" sort-asc="ctrl.sortAsc" search="ctrl.search()">Username</th>
            <th sortable-header property="firstName" search-by="ctrl.searchBy" sort-asc="ctrl.sortAsc" search="ctrl.search()">First Name</th>
            <th sortable-header property="lastName" search-by="ctrl.searchBy" sort-asc="ctrl.sortAsc" search="ctrl.search()">Last Name</th>
            <th sortable-header property="email" search-by="ctrl.searchBy" sort-asc="ctrl.sortAsc" search="ctrl.search()">Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Active</th>
            <th></th>
          </tr>

          <tr ng-repeat="user in ctrl.users" ui-sref="UserView({ id: user.id })" class="user-row">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.dob | date:'MM/dd/yyyy'}}</td>
            <td>{{user.active}}</td>
            <td style="text-align: right;">
              <i class="fa fa-lg fa-pencil pointer" title="Edit" ui-sref="UserEdit({ id: user.id })" ng-click="$event.stopPropagation()"></i>
              <i class="fa fa-lg fa-times pointer" title="Delete" ng-click="ctrl.deleteUser(user); $event.stopPropagation()"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
