<footer class="page-footer">
  <div class="container">
    <p class="footer-links">
      <em>&copy; Daugherty Business Solutions, {{ctrl.currentYear}}.</em>
    </p>
    <p class="social-links">
      <a><img src="img/facebook-icon.png" alt="Facebook" /></a>
      <a><img src="img/twitter-icon.png" alt="Twitter" /></a>
      <a><img src="img/linkedin-icon.png" alt="LinkedIn" /></a>
      <a><img src="img/youtube-icon.png" alt="YouTube" /></a>
    </p>
  </div>
</footer>