body, html {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased !important;
  background: #f6f6f6;
}
body {
	position: relative;
}

/* Navigation */
#nav.affix {
  top: 0;
  width: 100%;
}
.navbar-inverse {
  background-color: #121d1f;
  padding: 10px 0;
}
.navbar-inverse .navbar-brand {
  font-weight: 600;
  color: #fff;
}
.navbar-inverse .nav li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #7bc3d1;
  background-color: transparent;
}

/* Header */
.main-head {
  background-color: #7bc3d1;
  color: #fff;
}
.main-head h1 {
  font-weight: 600;
}
.main-head .intro {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.main-head .intro p {
	font-family: 'Lato', sans-serif;
}

/* Buttons */
.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  border-radius: 0;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
  color: #fff;
  background-color: #121d1f;
  border-color: #121d1f;
}
a:focus,
.btn:focus,
.btn:active:focus {
  outline: none;
}

/* Section Titles */
.section-title {
  padding: 25px 0 25px 0;
}
.section-title h2 {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 34px;
}
.section-title hr {
  height: 4px;
  width: 70px;
  background: #7bc3d1;
  border: 0;
}

/* About Section */
#about {
  padding: 70px 0 70px 0;
}
#about p {
  margin-top: 20px;
  margin-bottom: 30px;
}
#about img {
  width: 200px;
  border-radius: 50%;
}

/* Skills Section */
#skills {
  padding: 70px 0 70px 0;
  background: #7bc3d1;
}
#skills hr {
  background: rgba(255,255,255,0.3);
}
#skills h2, #skills h4 {
  color: #fff;
}

/* Portfolio Section */
#portfolio {
  padding: 70px 0 120px 0;
}
#portfolio a:hover {
  text-decoration: none;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}

/* Contact Section */
#contact {
  padding: 70px 0 70px 0;
  background: #7bc3d1;
}
#contact hr {
  background: rgba(255,255,255,0.3);
}
#contact h2, #contact h3, #contact h4 {
  color: #fff;
}
#contact form {
  padding: 30px 0;
}
#contact .social {
	margin-top: 30px;
}
#contact .social ul {
	padding: 0;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #121d1f;
}
#contact .form-control {
	background-color: rgba(255,255,255,0.8);
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Footer Section */
#main-foot {
  background: #121d1f;
  color: #7d8384;
  padding: 30px 0 25px 0;
}
#main-foot p {
  font-size: 13px;
}

/* Media Queries */
@media(min-width:768px) {
  /* Header Section */
	.main-head {
		background: url('../img/header-bg.jpg') no-repeat center top;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
	}
  .main-head .intro {
    margin-top: 300px;
    margin-bottom: 200px;
    text-align: left;
		max-width: 75%;
  }
  .main-head h1 {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -2px;
  }
  .main-head .name {
    font-weight: 600;
  }
  .main-head p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  /* About Section */
  #about {
    padding: 70px 0 120px 0;
  }

  /* Skills Section */
  #skills {
    padding: 160px 0 220px 0;
  }
  /* Portfolio Section */
  #portfolio {
    padding: 80px 0 120px 0;
  }
	#portfolio h4 {
	  font-size: 20px;
	}
}
