<div id="user-edit">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>Edit a User</h3>
        <form name="userEditFrm" ng-submit="ctrl.updateUser(userEditFrm)">
          <div ng-include src="'./user/user-editor.html'"></div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger" ng-click="ctrl.cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
