<div class="user-create" fxLayout="column">
  <div fxLayout="row">
    <div fxFlex></div>
    <mat-card fxFlex class="user-create-container">
      <mat-card-header>
        <mat-card-title>
          <h1>
            Create User
          </h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #userCreateForm="ngForm" fxLayout="column" (ngSubmit)="createUser(userCreateForm)">
          <app-user-form-fields [user]="user"></app-user-form-fields>
          <div fxLayout="row">
            <div fxFlex></div>
            <a [routerLink]="['/users']" mat-raised-button class="user-cancel-button">Cancel</a>
            <button type="submit" mat-raised-button color="primary" class="user-create-button">Create</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div fxFlex></div>
  </div>
</div>
