<div class="user-edit" fxLayout="column">
    <div fxLayout="row">
      <div fxFlex></div>
      <mat-card fxFlex class="user-edit-container">
        <mat-card-header>
          <mat-card-title>
            <h1>
              Update User
            </h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form #userUpdateForm="ngForm" fxLayout="column" (ngSubmit)="updateUser(userUpdateForm)">
            <app-user-form-fields [user]="user"></app-user-form-fields>
            <div fxLayout="row">
              <div fxFlex></div>
              <a [routerLink]="['/users']" mat-raised-button class="user-cancel-button">Cancel</a>
              <button type="submit" mat-raised-button color="primary" class="user-update-button">Save</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <div fxFlex></div>
    </div>
  </div>