<div id="user">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Users</h3>
        <form class="form-inline">
          <div class="form-group input-group search-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search for..." ng-model="ctrl.searchFor" ng-change="ctrl.search()" style="width: 200px;">
          </div>
          <button type="button" class="btn btn-primary pull-right" ui-sref="UserCreate"><i class="fa fa-plus"></i> User</button>
        </form>
        <br/>
        <table class="table table-striped table-hover">
          <tr>
            <th class="pointer" ng-style="{'color': ctrl.isActiveFilter('id') ? 'red' : 'inherit'}" ng-click="ctrl.changeSearchBy('id')">
              ID
              <span ng-if="ctrl.isActiveFilter('id')">
                &nbsp;<i class="fa" ng-class="ctrl.sortAsc ? 'fa-caret-down' : 'fa-caret-up'" style="color: red"></i>
              </span>
            </th>
            <th class="pointer" ng-style="{'color': ctrl.isActiveFilter('username') ? 'red' : 'inherit'}" ng-click="ctrl.changeSearchBy('username')">
              Username
              <span ng-if="ctrl.isActiveFilter('username')">
                &nbsp;<i class="fa" ng-class="ctrl.sortAsc ? 'fa-caret-down' : 'fa-caret-up'" style="color: red"></i>
              </span>
            </th>
            <th class="pointer" ng-style="{'color': ctrl.isActiveFilter('firstName') ? 'red' : 'inherit'}" ng-click="ctrl.changeSearchBy('firstName')">
              First Name
              <span ng-if="ctrl.isActiveFilter('firstName')">
                &nbsp;<i class="fa" ng-class="ctrl.sortAsc ? 'fa-caret-down' : 'fa-caret-up'" style="color: red"></i>
              </span>
            </th>
            <th class="pointer" ng-style="{'color': ctrl.isActiveFilter('lastName') ? 'red' : 'inherit'}" ng-click="ctrl.changeSearchBy('lastName')">
              Last Name
              <span ng-if="ctrl.isActiveFilter('lastName')">
                &nbsp;<i class="fa" ng-class="ctrl.sortAsc ? 'fa-caret-down' : 'fa-caret-up'" style="color: red"></i>
              </span>
            </th>
            <th class="pointer" ng-style="{'color': ctrl.isActiveFilter('email') ? 'red' : 'inherit'}" ng-click="ctrl.changeSearchBy('email')">
              Email
              <span ng-if="ctrl.isActiveFilter('email')">
                &nbsp;<i class="fa" ng-class="ctrl.sortAsc ? 'fa-caret-down' : 'fa-caret-up'" style="color: red"></i>
              </span>
            </th>
            <th >Phone</th>
            <th>Date of Birth</th>
            <th>Active</th>
            <th></th>
          </tr>

          <tr ng-repeat="user in ctrl.users" ui-sref="UserView({ id: user.id })" class="user-row">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.dob | date:'MM/dd/yyyy'}}</td>
            <td>{{user.active}}</td>
            <td style="text-align: right;">
              <i class="fa fa-lg fa-pencil pointer" title="Edit" ui-sref="UserEdit({ id: user.id })" ng-click="$event.stopPropagation()"></i>
              <i class="fa fa-lg fa-times pointer" title="Delete" ng-click="ctrl.deleteUser(user); $event.stopPropagation()"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
