html, body {
  font-size: 95%;
  width: 100%;
}

body {
  margin-bottom: 50px;
}

#content {
  padding: 120px 20px 0;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,700,600italic);
@import 'bootstrap-theme';
@import 'theme';
@import 'header';
@import 'footer';
@import 'home';
@import 'user';