footer {
  background-color: #2c2c2c;
  color: #c6c6c6;
  padding: 1em 0;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  .footer-links {
    float: left;
    font-size: .923em;
    line-height: 2.167;

    a {
      white-space: nowrap;
      color: #c6c6c6;
    }
  }

  .social-links {
    float: right;
  }

  ul.undecorated {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}