header {

  .navbar-brand {
    padding: 7px;
  }

  .navbar-nav {
    li {
      a {
        font-weight: 700;
        line-height: 3.5;
        font-size: 1.077em;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0,0,0,.4);
      }
    }
  }
}