@import "_colors";

html {
  font-family: 'Open Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;
}

a {
  color: $primaryText;
  cursor: pointer;
}

p {
  margin: 0 0 1em 0;
}

.separator {
  padding: 0 .462em;
}

.freedomPrimary {
  color: $primaryText !important;
}

.freedomSecondary {
  color: $secondary;
}

.text-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}