#user {
  .search-group {
    select {
      width: 25%;
    }

    input[type="text"] {
      width: 70%;
      margin-right: 5px;
    }

    .checkbox {
      width: 20%;
    }
  }

  .user-row {
    cursor: pointer;
  }
}

#user-view {
  .user-active {
    color: $brand-success;
  }
}