<header>
  <div id="site-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="Home"><img src="img/teamdaugherty.png" style="max-height: 100px;" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar .navbar-col/lapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="Home">Home</a></li>
          <li ng-show="ctrl.user"><a>{{ ctrl.user }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>