.my-button {
    background-color: black;
    color: gray;
    opacity: .4;
    border: 1px solid black;
    transition: all 1s ease;
    font-size: 24px;
}

.my-button:hover {
    background-color: blue;
    color: white;
    opacity: 1;
}