// Colors
$white: #ffffff;
$grey: #a7a7a7;
$greyLight: #efefef;

$primary: #568d40;
$primaryLight: #b5cf83;
$primaryDark: #465831;

$primaryText: #aa091b;

$secondary: #1e438e;
$secondaryLight: $white;
$secondaryDark: #d2d2d2;