<div fxLayout="row" fxLayoutAlign="start center" class="app-footer">
  <em class="app-footer-link">&copy; Daugherty Business Solutions, {{getCurrentYear()}}.</em>
  <div fxFlex></div>
  <a mat-icon-button>
    <img src="assets/img/facebook-icon.png" alt="Facebook">
  </a>
  <a mat-icon-button>
    <img src="assets/img/twitter-icon.png" alt="Twitter">
  </a>
  <a mat-icon-button>
    <img src="assets/img/linkedin-icon.png" alt="LinkedIn">
  </a>
  <a mat-icon-button>
    <img src="assets/img/youtube-icon.png" alt="YouTube">
  </a>
</div>