<div id="user-create">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>
          Create a User
        </h3>
        <form name="userCreateFrm" ng-submit="ctrl.createUser(userCreateFrm)">
          <div ng-include src="'./user/user-editor.html'"></div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
