<div id="user-create">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>
          Create a User
        </h3>
        <form name="userCreateFrm" ng-submit="ctrl.createUser(userCreateFrm)">
          <div class="form-group">
            <label for="username">Username</label>
            <input required type="text" class="form-control" id="username" placeholder="Username" ng-model="ctrl.user.username">
          </div>

          <div class="form-group">
            <label for="firstName">First Name</label>
            <input required type="text" class="form-control" id="firstName" placeholder="First name" ng-model="ctrl.user.firstName">
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input required type="text" class="form-control" id="lastName" placeholder="Last name" ng-model="ctrl.user.lastName">
          </div>

          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="text" class="form-control" id="dob" placeholder="MM/DD/YYYY" ng-model="ctrl.user.dob">
          </div>

          <div class="form-group">
            <label>Gender</label>
            <br/>
            <label class="radio-inline">
              <input required type="radio" name="gender" id="genderM" value="M" ng-model="ctrl.user.gender">
              Male
            </label>
            <label class="radio-inline">
              <input required type="radio" name="gender" id="genderF" value="F" ng-model="ctrl.user.gender">
              Female
            </label>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="ctrl.user.email">
          </div>

          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input required type="text" class="form-control" id="phone" placeholder="###-###-####" ng-model="ctrl.user.phone">
          </div>

          <label for="line1">Address</label>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="line1">Line 1</label>
              <input required type="text" class="form-control" id="line1" placeholder="Line 1" ng-model="ctrl.user.address.line1">
            </div>

            <div class="form-group col-sm-6">
              <label for="line2">Line 2</label>
              <input type="text" class="form-control" id="line2" placeholder="Line 2" ng-model="ctrl.user.address.line2">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label for="city">City</label>
              <input required type="text" class="form-control" id="city" placeholder="City" ng-model="ctrl.user.address.city">
            </div>

            <div class="form-group col-sm-4">
              <label for="state">State</label>
              <input required type="text" class="form-control" id="state" placeholder="State" ng-model="ctrl.user.address.state">
            </div>

            <div class="form-group col-sm-2">
              <label for="zip">Zip</label>
              <input required type="text" class="form-control" id="zip" placeholder="Zip" ng-model="ctrl.user.address.zip">
            </div>
          </div>

          <br/>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
