<div id="user">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Users</h3>
        <div>
          <!--TODO: add dropdown with fields to search by first name, last name, username, and email -->
          <!--TODO: add search input-->
          <!--TODO: add order by ascending/descending -->
          <!--TODO: add filter by active status  -->
        </div>
        <table class="table table-striped table-hover">
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Active</th>
          </tr>

          <tr ng-repeat="user in ctrl.users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.dob | date:'MM/dd/yyyy'}}</td>
            <td>{{user.active}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
