<nav fxLayout="row" class="app-header" fxLayoutAlign="start center">
  <a mat-icon-button  class="app-header-brand">
    <img src="assets/img/teamdaugherty.png" alt="Daugherty Logo">
  </a>
  <div fxFlex></div>
  <a mat-button [routerLink]="['']" class="app-header-link">Home</a>
  <!-- TODO: Replace this usage with async pipe -->
  <a mat-button *ngIf="user"><i class="fa fa-user"></i> {{ user.username }}</a>
  <div fxFlex="1"></div>
</nav>
