<div id="user-view">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>
          <i title="{{ ctrl.user.active ? 'Active' : 'Inactive'}}" class="fa fa-circle" ng-class="{'user-active': ctrl.user.active, 'text-muted': !ctrl.user.active }"></i>&nbsp;
          {{ ctrl.user.firstName }} {{ ctrl.user.lastName }}&nbsp;
          <small class="text-muted" title="Username">{{ ctrl.user.username }}</small>
        </h2>
        <div class="row" style="margin-top: 20px;">
          <div class="col-sm-12">
            <dl class="dl-horizontal">
              <dt>Gender</dt>
              <dd>{{ ctrl.user.gender }}</dd>

              <dt>Birth Date</dt>
              <dd>{{ ctrl.user.dob | date:'MM/dd/yyyy' }}</dd>

              <dt>Email</dt>
              <dd>{{ ctrl.user.email }}</dd>

              <dt>Phone</dt>
              <dd>{{ ctrl.user.phone }}</dd>

              <dt>Address</dt>
              <dd>
                {{ ctrl.user.address.line1 }}<br/>
                <span ng-if="!!ctrl.user.address.line2">
                  {{ ctrl.user.address.line2 }}<br/>
                </span>
                {{ ctrl.user.address.city }} {{ ctrl.user.address.state }} {{ ctrl.user.address.zip }}
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
