<div class="pointer" ng-style="{'color': ctrl.isActive() ? 'red' : 'inherit'}" ng-click="ctrl.changeSearchBy()">
  <span ng-transclude></span>
  <span ng-if="ctrl.isActive()">
    &nbsp;<i class="fa" ng-class="ctrl.sortAsc ? 'fa-caret-down' : 'fa-caret-up'" style="color: red"></i>
  </span>
</div>